body {
background-color:#D9F7FA;
color: #575F7D;
font-family: 'Lora', serif;
font-size: 18px;


}


h1 {
color: #034078;
font-family: 'Roboto', sans-serif;
font-weight: 100;
letter-spacing: 10px;
font-size: 32px;
text-transform: uppercase;
font-weight: 900;


}


h2{
color: #034078;
font-size: 20px;
font-weight: lighter;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}


a{
text-decoration: none;
color:#397367;
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 18px;
}

a:hover{
	color:#001F54;
}
 
 /*Custom design with class*/
 
 .container{
width: 700px;
margin: 40px auto;
 }

@media (max-width: 500px) {
	.container{ 
	width: 200px;
	 }
}

@media (max-width: 760px) {
	.container{
		width: 600px;
	}
}




.card-white{
background-color: white;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
border-radius: 6px;
margin: 20px 0px;
text-align: center;
}

.img-circle{
border-radius: 50%;
}

.button-blue{
background-color:#397367 ;
color: white;
padding: 15px 20px;
border-radius: 6px;

}

.btn-blue:hover{
	background-color: #001F54;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
display: inline;
padding: 10px;

}

.list-inline i {
font-size: 50px;
}

#introduction p{
	margin-bottom: 40px;

}


